img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  background-color: white;
}

body{
  margin: auto;
  background-color: #9DBDFF;
}

header{
  background-color: white;
}